@model List<Сlothing>
<h1 class="text-center mb-2">Product catalog</h1>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var i in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@i.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@i.Title</h5>
                    <p class="card-text">@i.Price @i.Material @i.Size @i.Brand</p>
                </div>
                <div class="card-footer">
                    @if(ViewBag.FavId == @i.Id)
                    {
                        <button type="button" class="btn btn-outline-warning">favorite</button>
                    }
                    else
                    {
                        <a asp-action="AddFavorite" asp-route-id="@i.Id" class="btn btn-primary">Favorite</a>
                    }
                    <button type="button" class="btn btn-success">add to card</button>
                    <small class="text-body-secondary">Last updated 3 mins ago</small>
                </div>
            </div>
        </div>
    }